@model Customer
<div class="container-fluid px-4">
	<h2 class="mt-4 text-center text-uppercase btn btn-danger" style="letter-spacing:4px">
		Are you sure you want to delete this customer?
	</h2>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<ul class="list-group">
			<li class="list-group-item">Customer Id: @Model.Customer_Id</li>
			<li class="list-group-item">Customer Name: @Model.Customer_Name</li>
			<li class="list-group-item">Customer Phone: @Model.Customer_Phone</li>
			<li class="list-group-item">Customer Country: @Model.Customer_Country</li>
			<li class="list-group-item">Customer City: @Model.Customer_City</li>
			<li class="list-group-item">Customer Address: @Model.Customer_Address</li>
			<li class="list-group-item">Customer Email: @Model.Customer_Email</li>
			<li class="list-group-item">Customer Password: @Model.Customer_Password</li>
			<li class="list-group-item">Customer Gender: @Model.Customer_Gender</li>
		</ul>
		<a href="@Url.Action("CustomerDelete","Admin",new{id=Model.Customer_Id})" class="btn btn-danger">Delete Customer</a>
		<a asp-controller="Admin" asp-action="FetchCustomer" class="btn btn-primary">Back To Fetch Customer</a>

	</div>
	<div class="col-md-2"></div>
</div>